		<section class="about-me-section p-3 p-lg-5 theme-bg-light">
			<div class="container">
				<div class="profile-teaser media flex-column flex-lg-row">
					
					<div class="media-body">
						<h2 class="name font-weight-bold mb-1">Simon Doe</h2>
						<div class="tagline mb-3">Senior Software Engineer</div>
						<div class="bio mb-4">I'm a software engineer specialised in frontend and backend development for complex scalable web apps. I write about software development on <a class="link-on-bg" href="/blog-home">my blog</a>. Want to know how I may help your project? Check out my project <a class="link-on-bg" href="/projects">portfolio</a> and <a class="link-on-bg" href="/resume">online resume</a>.
						</div><!--//bio-->
						<div class="mb-4">
							<a class="btn btn-primary mr-2 mb-3" href="/portfolio"><fa-icon [icon]="faArrowAltCircleRight" ></fa-icon><span class="d-none d-md-inline">View</span> Portfolio</a>
							<a class="btn btn-secondary mb-3" href="/resume"><fa-icon [icon]="faFileAlt" ></fa-icon> <span class="d-none d-md-inline">View</span> Resume</a>
						</div>
					</div><!--//media-body-->
					<img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="assets/images/profile-lg.jpg" alt="">
				</div>
			</div>
		</section><!--//about-me-section-->
		
		<section class="overview-section p-3 p-lg-5">
			<div class="container">
				<h2 class="section-title font-weight-bold mb-3">What I do</h2>
				<div class="section-intro mb-5">I have more than 10 years' experience building software for clients all over the world. Below is a quick overview of my main technical skill sets and technologies I use. Want to find out more about my experience? Check out my <a href="resume.html">online resume</a> and <a href="portfolio.html">project portfolio</a>.</div>
				<div class="row">
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><fa-icon [icon]="faJsSquare" ></fa-icon></div>
							<h3 class="item-title">Vanilla JavaScript</h3>
							<div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.</div>
						</div><!--//item-inner-->
					</div><!--//item-->
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"> <fa-icon [icon]="faAngular" > </fa-icon><fa-icon [icon]="faReact" > </fa-icon><fa-icon [icon]="faVuejs" ></fa-icon> </div>
							<h3 class="item-title">Angular, React &amp;  Vue</h3>
							<div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
						</div><!--//item-inner-->
					</div><!--//item-->
					
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><fa-icon [icon]="faNodeJs" ></fa-icon></div>
							<h3 class="item-title">Node.js</h3>
							<div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
						</div><!--//item-inner-->
					</div><!--//item-->
					
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><fa-icon [icon]="faPython" ></fa-icon></div>
							<h3 class="item-title">Python &amp; Django</h3>
							<div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
						</div><!--//item-inner-->
					</div><!--//item-->
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><fa-icon [icon]="faPhp" ></fa-icon></div>
							<h3 class="item-title">PHP</h3>
							<div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
						</div><!--//item-inner-->
					</div><!--//item-->
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"> <fa-icon [icon]="faNpm" ></fa-icon> <fa-icon [icon]="faGulp" ></fa-icon> <fa-icon [icon]="faGrunt" ></fa-icon> </div>
							<h3 class="item-title">npm, Gulp &amp; Grunt</h3>
							<div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
						</div><!--//item-inner-->
					</div><!--//item-->
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><fa-icon [icon]="faHtml5" ></fa-icon> <fa-icon [icon]="faCss3Alt" ></fa-icon> </div>
							<h3 class="item-title">HTML &amp; CSS</h3>
							<div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
						</div><!--//item-inner-->
					</div><!--//item-->
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"> <fa-icon [icon]="faSass" ></fa-icon> <fa-icon [icon]="faLess" ></fa-icon></div>
							<h3 class="item-title">Sass &amp; LESS</h3>
							<div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
						</div><!--//item-inner-->
					</div><!--//item-->
				</div><!--//row-->
				<div class="text-center py-3"><a href="/services" class="btn btn-primary"> <fa-icon [icon]="faArrowAltCircleRight" ></fa-icon> Services &amp; Pricing
					
				</a></div>
				
			</div><!--//container-->
		</section>
		
		<div class="container"><hr></div>
		
		<section class="testimonials-section p-3 p-lg-5">
			<div class="container">
				<h2 class="section-title font-weight-bold mb-5">Testimonials</h2>


<owl-carousel-o [options]="customOptions">
					<ng-template carouselSlide>
                       <div class="item">
						<div class="quote-holder">
							<blockquote class="quote-content">
								Simon is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
							</blockquote>
							<fa-icon [icon]="faQuoteLeft" ></fa-icon>
						</div><!--//quote-holder-->
						<div class="source-holder">
							<div class="source-profile">
								<img src="assets/images/clients/profile-1.png" alt="image"/>
							</div>
							<div class="meta">
								<div class="name">Brandon James</div>
								<div class="info">Project Manager, Google</div>
							</div>
						</div>
						</div>
					</ng-template>
					
					<ng-template carouselSlide>
                       <div class="item">
						<div class="quote-holder">
							<blockquote class="quote-content">
								Simon is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
							</blockquote>
							<fa-icon [icon]="faQuoteLeft" ></fa-icon>
						</div><!--//quote-holder-->
						<div class="source-holder">
							<div class="source-profile">
								<img src="assets/images/clients/profile-2.png" alt="image"/>
							</div>
							<div class="meta">
								<div class="name">Kate Sanders</div>
								<div class="info">Project Manager, Uber</div>
							</div>
						</div>
						</div>
					</ng-template>
					
					<ng-template carouselSlide>
                       <div class="item">
						<div class="quote-holder">
							<blockquote class="quote-content">
								Simon is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
							</blockquote>
							<fa-icon [icon]="faQuoteLeft" ></fa-icon>
						</div><!--//quote-holder-->
						<div class="source-holder">
							<div class="source-profile">
								<img src="assets/images/clients/profile-3.png" alt="image"/>
							</div>
							<div class="meta">
								<div class="name">James Lee</div>
								<div class="info">Product Manager, Amazon</div>
							</div>
						</div>
						</div>
					</ng-template>
					
					<ng-template carouselSlide>
                       <div class="item">
						<div class="quote-holder">
							<blockquote class="quote-content">
								Simon is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
							</blockquote>
							<fa-icon [icon]="faQuoteLeft" ></fa-icon>
						</div><!--//quote-holder-->
						<div class="source-holder">
							<div class="source-profile">
								<img src="assets/images/clients/profile-4.png" alt="image"/>
							</div>
							<div class="meta">
								<div class="name">James Lee</div>
								<div class="info">Product Manager, Amazon</div>
							</div>
						</div>
						</div>
					</ng-template>
					
					<ng-template carouselSlide>
                       <div class="item">
						<div class="quote-holder">
							<blockquote class="quote-content">
								Simon is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
							</blockquote>
							<fa-icon [icon]="faQuoteLeft" ></fa-icon>
						</div><!--//quote-holder-->
						<div class="source-holder">
							<div class="source-profile">
								<img src="assets/images/clients/profile-5.png" alt="image"/>
							</div>
							<div class="meta">
								<div class="name">Olivia White</div>
								<div class="info">Product Manager, Dropbox</div>
							</div>
						</div>
						</div>
					</ng-template>
					
					<ng-template carouselSlide>
                       <div class="item">
						<div class="quote-holder">
							<blockquote class="quote-content">
								Simon is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
							</blockquote>
							<fa-icon [icon]="faQuoteLeft" ></fa-icon>
						</div><!--//quote-holder-->
						<div class="source-holder">
							<div class="source-profile">
								<img src="assets/images/clients/profile-6.png" alt="image"/>
							</div>
							<div class="meta">
								<div class="name">Samuel Reyes</div>
								<div class="info">CTO, StartupHub</div>
							</div>
						</div>
						</div>
					</ng-template>
</owl-carousel-o>



				<!--// carousel-->	
			</div><!--//container-->
		</section><!--//testimonials-section-->
		
		<div class="container"><hr></div>
		
		<section class="featured-section p-3 p-lg-5">
			<div class="container">
				<h2 class="section-title font-weight-bold mb-5">Featured Projects</h2>
				<div class="row">
					<div class="col-md-6 mb-5">
						<div class="card project-card">
							<div class="row no-gutters">
								<div class="col-lg-4 card-img-holder">
									<img src="assets/images/project/project-1.jpg" class="card-img" alt="image">
								</div>
								<div class="col-lg-8">
									<div class="card-body">
										<h5 class="card-title"><a href="/project" class="theme-link">Project Heading</a></h5>
										<p class="card-text">Project intro lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
										<p class="card-text"><small class="text-muted">Client: Google</small></p>
									</div>
								</div>
							</div>
							<div class="link-mask">
								<a class="link-mask-link" href="/project"></a>
								<div class="link-mask-text">
									<a class="btn btn-secondary" href="/project">
										<fa-icon [icon]="faEye" ></fa-icon> View Case Study
									</a>
								</div>
							</div><!--//link-mask-->
						</div><!--//card-->
					</div><!--//col-->
					<div class="col-md-6 mb-5">	
						<div class="card project-card">
							<div class="row no-gutters">
								<div class="col-lg-4 card-img-holder">
									<img src="assets/images/project/project-2.jpg" class="card-img" alt="image">
								</div>
								<div class="col-lg-8">
									<div class="card-body">
										<h5 class="card-title"><a href="/project" class="theme-link">Project Heading</a></h5>
										<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
										<p class="card-text"><small class="text-muted">Client: Dropbox</small></p>
									</div>
								</div>
							</div>
							<div class="link-mask">
								<a class="link-mask-link" href="/project"></a>
								<div class="link-mask-text">
									<a class="btn btn-secondary" href="/project">
										<fa-icon [icon]="faEye" ></fa-icon> View Case Study
									</a>
								</div>
							</div><!--//link-mask-->
						</div><!--//card-->
					</div><!--//col-->
					<div class="col-md-6 mb-5">
						<div class="card project-card">
							<div class="row no-gutters">
								<div class="col-lg-4 card-img-holder">
									<img src="assets/images/project/project-3.jpg" class="card-img" alt="image">
								</div>
								<div class="col-lg-8">
									<div class="card-body">
										<h5 class="card-title"><a href="/project" class="theme-link">Project Heading</a></h5>
										<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
										<p class="card-text"><small class="text-muted">Client: Google</small></p>
									</div>
								</div>
							</div>
							<div class="link-mask">
								<a class="link-mask-link" href="/project"></a>
								<div class="link-mask-text">
									<a class="btn btn-secondary" href="/project">
										<fa-icon [icon]="faEye" ></fa-icon> View Case Study
									</a>
								</div>
							</div><!--//link-mask-->
						</div><!--//card-->
					</div><!--//col-->
					<div class="col-md-6 mb-5">
						<div class="card project-card">
							<div class="row no-gutters">
								<div class="col-lg-4 card-img-holder">
									<img src="assets/images/project/project-4.jpg" class="card-img" alt="image">
								</div>
								<div class="col-lg-8">
									<div class="card-body">
										<h5 class="card-title"><a href="/project" class="theme-link">Project Heading</a></h5>
										<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
										<p class="card-text"><small class="text-muted">Client: Uber</small></p>
									</div>
								</div>
							</div>
							<div class="link-mask">
								<a class="link-mask-link" href="/project"></a>
								<div class="link-mask-text">
									<a class="btn btn-secondary" href="/project">
										<fa-icon [icon]="faEye" ></fa-icon> View Case Study
									</a>
								</div>
							</div><!--//link-mask-->
						</div><!--//card-->
					</div><!--//col-->
				</div><!--//row-->
				<div class="text-center py-3"><a href="/portfolio" class="btn btn-primary"><fa-icon [icon]="faArrowAltCircleRight" ></fa-icon> View Portfolio</a></div>
				
			</div><!--//container-->
		</section><!--//featured-section-->
		
		<div class="container"><hr></div>
		
		<section class="latest-blog-section p-3 p-lg-5">
			<div class="container">
				<h2 class="section-title font-weight-bold mb-5">Latest Blog Posts</h2>
				<div class="row">
					<div class="col-md-4 mb-5">
						<div class="card blog-post-card">
							<img class="card-img-top" src="assets/images/blog/blog-post-thumb-card-1.jpg" alt="image">
							<div class="card-body">
								<h5 class="card-title"><a class="theme-link" href="/blog-post">Top 3 JavaScript Frameworks</a></h5>
								<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
								<p class="mb-0"><a class="more-link" href="/blog-post">Read more &rarr;</a></p>
								
							</div>
							<div class="card-footer">
								<small class="text-muted">Published 2 days ago</small>
							</div>
						</div><!--//card-->
					</div><!--//col-->
					<div class="col-md-4 mb-5">
						<div class="card blog-post-card">
							<img class="card-img-top" src="assets/images/blog/blog-post-thumb-card-2.jpg" alt="image">
							<div class="card-body">
								<h5 class="card-title"><a class="theme-link" href="/blog-post">About Remote Working</a></h5>
								<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
								<p class="mb-0"><a class="more-link" href="/blog-post">Read more &rarr;</a></p>
							</div>
							<div class="card-footer">
								<small class="text-muted">Published a week ago</small>
								
							</div>
						</div><!--//card-->
					</div><!--//col-->
					<div class="col-md-4 mb-5">
						<div class="card blog-post-card">
							<img class="card-img-top" src="assets/images/blog/blog-post-thumb-card-3.jpg" alt="image">
							<div class="card-body">
								<h5 class="card-title"><a class="theme-link" href="/blog-post">A Guide to Becoming a Full-Stack Developer</a></h5>
								<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
								<p class="mb-0"><a class="more-link" href="/blog-post">Read more &rarr;</a></p>
							</div>
							<div class="card-footer">
								<small class="text-muted">Published 3 weeks ago</small>
							</div>
						</div><!--//card-->
					</div><!--//col-->
				</div><!--//row-->
				<div class="text-center py-3"><a href="/blog-home" class="btn btn-primary"><fa-icon [icon]="faArrowAltCircleRight" ></fa-icon> View Blog</a></div>
			</div><!--//container-->
			
		</section><!--//latest-blog-section-->


